{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

<form action="/answer" method="POST">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <div style="float: right;">
        {{ govukSelect({
        id: "searchType",
        name: "searchType",
        items: [
            {
            value: "langchain-bedrock",
            text: "Bedrock (LangChain)",
            selected: searchType == "langchain-bedrock"
            },
            {
            value: "langchain-azure-openai",
            text: "Azure OpenAI (LangChain)",
            selected: searchType == "langchain-azure-openai"
            },
            {
            value: "anthropic-bedrock",
            text: "Anthropic Bedrock",
            selected: searchType == "anthropic-bedrock"
            },
            {
            value: "azure-openai",
            text: "Azure OpenAI",
            selected: searchType == "azure-openai"
            },
            {
            value: "vector-store",
            text: "Vector Store",
            selected: searchType == "vector-store"
            },
            {
            value: "vector-store-langchain-chat",
            text: "Vector Store (Langchain Chat With Memory)",
            selected: searchType == "vector-store-langchain-chat"
            },
            {
            value: "vector-store-langgraph-chat",
            text: "Vector Store (LangGraph Chat)",
            selected: searchType == "vector-langgraph-langchain-chat"
            }
        ]
        }) }}
    </div>
    </div>
</div>

{{ appHeading({
    text: heading
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {{ govukInput({
        id: "question",
        name: "question",
        value: question
    }) }}
    </div>
    <div class="govuk-grid-column-one-third">
    {{ govukButton({
        text: "Send"
    }) }}
    </div>
</div>
</form>